<div class="form container-fluid">
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
  <div class="col col-xs-10 col-sm-6 col-md-4">
    <%= devise_error_messages! %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h3>Didn't receive confirmation instructions?</h3>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
    <div class="back">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
</div>
<%= render "layouts/footer_no_newsletter" %>
