<div class="new-blog container-fluid">
  <% if current_user %>
    <% if current_user.email == 'heyjulieh@gmail.com' || current_user.email == 'jeffl1nen@gmail.com' %>
    <div class="col col-xs-1 col-sm-2 col-md-3">
    </div>
    <div class="col col-xs-10 col-sm-8 col-md-6">
        <h1>Edit Blog Post</h1>
        <%= render 'form', blog: @blog %>
        <%= link_to 'View this blog post', @blog %><br /><br />
        <%= link_to blogs_path do %>
          <i class="fa fa-reply"></i> Back to all Blogs
        <% end %>
      </div>
      <div class="col col-xs-1 col-sm-2 col-md-3">
      </div>
    <% else %>
      <h1>You do not have access to this page.</h1><br />
      <%= link_to blogs_path do %>
        <i class="fa fa-reply"></i> Back to all Blogs
      <% end %>
    <% end %>
  <% else %>
    <h1>You do not have access to this page.</h1><br />
    <%= link_to blogs_path do %>
      <i class="fa fa-reply"></i> Back to all Blogs
    <% end %>
  <% end %>
</div>
