
<div class="form container-fluid">
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
  <div class="col col-xs-10 col-sm-6 col-md-4">
    <%= devise_error_messages! %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h2>Sign up to shop!</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="mb1"><%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %></div>
      <div class="mb1"><%= f.text_field :last_name, autofocus: true, placeholder: "Last Name" %></div>
      <%= f.label :birthday %>:
      <div class="date"><%= f.date_select :birthday, {order: [:month, :day, :year], prompt: { day: 'Day', month: 'Month', year: 'Year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {required: true} %></div>
      <div class="mb1"><%= f.email_field :email, autofocus: true, placeholder: "Email" %></div>
      <div class="mb1"><%= f.text_field :phone, autofocus: true, placeholder: "Phone" %></div>
      <div class="mb1"><%= f.text_field :street_address, autofocus: true, placeholder: "Street Address" %></div>
      <div class="row">
        <div class="mb1 address col-xs-4"><%= f.text_field :state, autofocus: true, placeholder: "State/Town," %></div>
        <div class="mb1 address col-xs-4"><%= f.text_field :zip_code, autofocus: true, placeholder: "Zip Code," %></div>
        <div class="mb1 address col-xs-4"><%= f.text_field :country, autofocus: true, placeholder: "Country" %></div>
      </div>
      <div class="mb1" id="pw"><%= f.password_field :password, autocomplete: "off", placeholder: "Password" %></div>
      <div class="mb1"><%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm password" %></div>

      <div><%= f.submit "Let's go!", class: "letsgo" %></div>
    <% end %>
    <div class="back">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
</div>
<%= render "layouts/footer_no_newsletter" %>
