
<div id="mycart" class="container-fluid mycart">
  <h3>Your Cart</h3>
  <p class="cart-amount">Total Items In Your Cart: <span id="cart-count" class="cart-count"><%=current_user.cart_count%></span></p>
  <% if current_user.cart_count==0 %>
    <h5 class="no-items">You currently do not have any items in your cart.</h5><br />
    <h6 class="no-items">Recommended items:</h6>
    <div class="sample">
      <div class="row">
        <% @sample.each do |item|%>
        <div class="col col-xs-6 col-sm-2 col-md-2">
          <div class="row">
            <%=link_to item do%>
              <%=image_tag item.images[0].url %>
            <%end%>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="row">
    <div class="col col-sm-6 col-md-6">
      <% @cart_items.each do |item|%>
      <div class="cart-item row">
        <div class="col col-xs-5 col-sm-4 cart-image">
          <%=link_to item do%>
            <%=image_tag item.images[0].url %>
          <%end%>
        </div>
        <div class="col col-xs-6 col-sm-6 cart-info">
          <%=link_to item do%>
          <%=link_to "remove", data: {targetUrl: remove_from_cart_path(item)} do%>
            <i class="fa fa-times-circle pull-right"></i>
          <%end%>

            <h4> <%= item.brand %></h4>
          <%end%>
          <p><%= item.colorway %> <%= item.product_name %></p>
          <p>Size: <%= item.size %></p>
          <p><b>$ <%= item.price %></b></p>
        </div>
      </div><br /><br /><br />
      <%end%>
    </div>

    <div class="col col-sm-6 pull-right">
      <% if current_user.cart_count != 0%>
        <h5>Total amount: $<span class="cart-money"><%=current_user.cart_total_price %></span></h5><br />
        <p class="review">Review your order<br />& confirm payment<br />on the next page.</p><br /><br />
        <%=link_to "Checkout", new_transaction_path, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<%= render "layouts/footer_simple" %>
