
<div class="form container-fluid wrapper">
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
  <div class="col col-xs-10 col-sm-6 col-md-4">
    <%= devise_error_messages! %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <h2>Welcome back! <br />Please sign in.</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="mb1"><%= f.email_field :email, autofocus: true, placeholder: "Email", class: "radius" %></div>

      <div class="mb1"><%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "radius" %></div>

      <% if devise_mapping.rememberable? -%>
        <div class="mb1">
          <%= f.check_box :remember_me%> <span><%= f.label :remember_me %></span>
        </div>
      <% end -%>

      <div class="clear"><%= f.submit "Let's go!", class: "letsgo" %></div>
    <% end %>
    <div class="back">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col col-xs-1 col-sm-3 col-md-4">
  </div>
</div>
<%= render "layouts/footer_simple" %>
