<div class="container-fluid featured wrapper">
  <div class="row">
    <div class="col col-xs-12">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <h3 class="subsection">Featured Items</h3>
    <% @items.each do |item| %>
      <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
        <div class="items">
          <div class="image-box">
            <%= link_to item, class: "item-images" do %>
              <%= image_tag item.images[0] %>
            <% end %>
          </div>
          <%= link_to item  do %>
            <div class="item-info">
              <h5><%= item.brand %> <span><%= item.release_year %></span></h5>
              <p><%= item.description %></p>
              <p class="price">$ <%= item.price %></p>
              <h6><%= item.size %></h6>

            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "layouts/footer" %>
