
<div class="container-fluid show wrapper">
  <div class="row">
    <div class="col col-sm-6 col-md-6 large-image-box">
      <%=image_tag @item.images[0]%>
    </div>
    <div class="col col-sm-6 col-md-6 show-item-info">
      <h3><%= @item.brand %> <span><%= @item.release_year %></span></h3>
      <h4><%= @item.colorway %> <%= @item.description %></h4><br />
      <h5>$<%= @item.price %></h5>
      <h5><%= @item.size %></h5>
      <p><%= @item.new_or_used %>, <%= @item.condition %></p>
      <p><%= @item.status %></p>

      <%if signed_in? && @item.status != "SOLD" && @item.status != "Selling in Progress"%>
        <%=link_to "", class: "btn-danger", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
          <span><%=@cart_action%></span> Cart
        <%end%>
      <%end%>
    </div>
  </div>
</div>
<%= render "layouts/footer_simple" %>
