
<div class="container-fluid show wrapper">
  <div class="row">
    <div class="col col-sm-6 col-md-6 large-image-box">
      <%=image_tag @item.images[0]%>
    </div>
    <div class="col col-sm-6 col-md-6 show-item-info">
      <h3><%= @item.brand %> <span><%= @item.release_year %></span></h3>
      <h4><%= @item.colorway %> <%= @item.description %></h4><br />
      <h5>$<%= @item.price %></h5>
      <h5><%= @item.size %></h5>
      <p><%= @item.new_or_used %>, <%= @item.condition %></p>
      <p><%= @item.status %></p>
      <%if @item.status == "Selling in Progress"%>
        <p><i>This item will be back on the marketplace<br />if it is not purchased within 10 minutes.</i></p>
      <%end%>
      <%if signed_in? && @item.status != "SOLD" && @item.status != "Selling in Progress"%>
        <%=link_to "", class: "btn-danger addcart", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
          <span><%=@cart_action%></span> Cart
        <%end%>
      <%end%>
      <% if current_user %>
        <% if current_user.email == 'heyjulieh@gmail.com' || current_user.email == 'jeffl1nen@gmail.com' %>
        <br /><br />
          <i class="fa fa-pencil"></i> <%= link_to 'Edit This', edit_item_path(@item) %><br />
          <i class="fa fa-times"></i> <%= link_to 'Delete This', @item, method: :delete, :class => "delete", data: { confirm: 'Are you sure you want to delete this?'} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "layouts/footer_simple" %>
