
<div class="container-fluid show wrapper">
  <div class="row">
    <div class="col col-sm-6 col-md-6 large-image-box">
      <div class="row">
        <%=image_tag @item.images[0].url, class: "big", id: "img1"%>
      </div>
      <br />
      <div class="row">
        <% if defined? @item.images[1].url != nil %>
          <div class="col col-xs-6">
            <%=image_tag @item.images[1].url, class:"small", id:"img2"%>
          </div>
        <% end %>
        <% if defined? @item.images[2].url != nil %>
          <div class="col col-xs-6">
            <%=image_tag @item.images[2].url, class:  "small", id: "img3"%>
          </div>
        <% end %>
      </div>

    </div>
    <div class="col col-sm-6 show-item-info">
      <h3><%= @item.brand %></h3>
      <h4><%= @item.colorway %> <%= @item.product_name %></h4><br />
      <h5 id="price">$<%= @item.price %></h5>
      <h5>Size: <%= @item.size %></h5><br />

      <%if @item.status == "Selling in Progress"%>
        <p><i>This item will be back on the marketplace<br />if it is not purchased within 10 minutes.</i></p>
      <%end%>
      <%if @item.status != "SOLD" && @item.status != "Selling in Progress"%>
        <%=link_to "", class: "btn-danger addcart", data: {target: @cart_action, addUrl: add_to_cart_path(@item), removeUrl: remove_from_cart_path(@item)} do%>
          <span><%=@cart_action%></span> Cart
        <%end%>
      <%end%>
      <br />
      <br />
      <br />
      <br />
      <h4><b><%= @item.new_or_used %></b></h4>
      <% if @item.new_or_used == 'used' || @item.new_or_used == 'Used' %>
        <h5>Condition: <%= @item.condition %><h5>
      <% end %>
      <h5>Release year: <%= @item.release_year %></h5><br /><br />
      <p><b>Description</b><br /><%= @item.description %></p><br />
      <% if @item.new_or_used == 'used'|| @item.new_or_used == 'Used' %>
        <p>Used items are sold as is and not eligible for returns or refunds.<br />Please read the description carefully before purchasing. Thank you.</p>
        <% end %>
      <% if current_user %>
        <% if current_user.status == 'admin' %>
        <br /><br />
          <i class="fa fa-pencil"></i> <%= link_to 'Edit This', edit_item_path(@item) %><br />
          <i class="fa fa-times"></i> <%= link_to 'Delete This', @item, method: :delete, :class => "delete", data: { confirm: 'Are you sure you want to delete this?'} %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<%= render "layouts/footer_simple" %>
