
<div class="container-fluid featured wrapper">
    <div class="row">
    <h3 class="subsection">
      <% if request.original_fullpath == '/brands/adidas' %>
        Adidas
      <% end %>
      <% if request.original_fullpath == '/brands/nike' %>
        Nike
      <% end %>
      <% if request.original_fullpath == '/brands/vans' %>
        Vans
      <% end %>
    </h3>
    <% if @items.count == 0 %>
      <h5 class="no-items">
        There are currently 0 items under this brand.<br /><br />
        <a href="/">Head back to the main page.</a>
      </h5>
    <% else %>
      <% @items.each do |item| %>
        <div class="col col-xs-6 col-sm-3">
          <div class="items">
            <div class="image-box">
              <%= link_to item, class: "item-images"do %>
                <%= image_tag item.images[0] %>
              <% end %>
            </div>
            <%= link_to item do %>
              <div class="item-info">
                <h5><%= item.brand %></h5>
                <p><%= item.product_name %></p>
                <h6><%= item.size %></h6>
                <p class="price">$ <%= item.price %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "layouts/footer_simple" %>
