<% if request.original_fullpath == '/categories/shoes' %>
  <%= render "layouts/jumbotron-shoes" %>
<% end %>
<% if request.original_fullpath == '/categories/tops' %>
  <%= render "layouts/jumbotron-tops" %>
<% end %>
<% if request.original_fullpath == '/categories/bottoms' %>
  <%= render "layouts/jumbotron-bottoms" %>
<% end %>
<% if request.original_fullpath == '/categories/accessories' %>
  <%= render "layouts/jumbotron-accessories" %>
<% end %>
<% if request.original_fullpath == '/categories/toys' %>
  <%= render "layouts/jumbotron-toys" %>
<% end %>

<div class="container-fluid featured wrapper">
    <div class="row">
    <h4 class="subsection">
      <% if request.original_fullpath == '/categories/shoes' %>
        Shoes
      <% end %>
      <% if request.original_fullpath == '/categories/tops' %>
        Tops
      <% end %>
      <% if request.original_fullpath == '/categories/bottoms' %>
        Bottoms
      <% end %>
      <% if request.original_fullpath == '/categories/accessories' %>
        Accessories
      <% end %>
      <% if request.original_fullpath == '/categories/toys' %>
        Toys
      <% end %>
    </h4>
      <% @items.each do |item| %>
        <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="items">
            <div class="image-box">
              <%= link_to item, class: "item-images" do %>
                <%= image_tag item.images[0] %>
              <% end %>
              <p class="price pull-right">$ <%= item.price %></p>
            </div>
            <div class="item-info">
              <%= link_to item, class: "item-images" do %>
                <h5><%= item.brand %> <span><%= item.release_year %></span></h5>
                <p><%= item.description %></p>
                <h6><%= item.size %></h6>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</div>
