
<div class="container-fluid featured wrapper">
    <div class="row">
    <h3 class="subsection">
      <% if request.original_fullpath == '/categories/shoes' %>
        Shoes
      <% end %>
      <% if request.original_fullpath == '/categories/tops' %>
        Tops
      <% end %>
      <% if request.original_fullpath == '/categories/bottoms' %>
        Bottoms
      <% end %>
      <% if request.original_fullpath == '/categories/accessories' %>
        Accessories
      <% end %>
      <% if request.original_fullpath == '/categories/toys' %>
        Toys
      <% end %>
    </h3>
    <% if @items.count == 0 %>
      <h5 class="no items">
        There are currently 0 items under this category.<br /><br />
        <a href="/">Head back to the main page.</a>
      </h5>
    <% else %>
      <% @items.each do |item| %>
        <div class="col col-xs-6 col-sm-4 col-md-3 col-lg-2">
          <div class="items">
            <div class="image-box">
              <%= link_to item, class: "item-images" do %>
                <%= image_tag item.images[0] %>
              <% end %>
            </div>
            <%= link_to item, class: "item-images" do %>
            <div class="item-info">
              <h5><%= item.brand %> <span><%= item.release_year %></span></h5>
              <p><%= item.product_name %></p>
              <h6><%= item.size %></h6>
              <p class="price">$ <%= item.price %></p>
            </div>
          <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "layouts/footer_simple" %>
