<div class="customer_form container-fluid">
    <div class="mb1">
      <%= text_field_tag :first_name, "",placeholder: "First Name", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :last_name, "",placeholder: "Last Name", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :email, "",placeholder: "Email", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :phone, "",placeholder: "Phone", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :street_address, "",placeholder: "Street Address", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :city_address, "",placeholder: "City", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :state, "",placeholder: "State", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :zip_code, "",placeholder: "Zip Code", class: "radius" %>
    </div>
    <div class="mb1">
      <%= text_field_tag :country, "",placeholder: "Country", class: "radius" %>
    </div>
</div>
