<%= render "layouts/jumbotron" %>

<div class="payment container">
  <div class="row">
    <div class="col col-xs-1 col-sm-2">
    </div>
    <div class="col col-xs-10 col-sm-8">
      <div class="row">
        <div class="summary_header">
          <h2>Order Summary</h2>
          <p class="mbs">You are paying for <%=current_user.cart_count%> items.</p>
          <p class="mbs">Total amount: $<%=current_user.cart_total_price%>.</p>
        </div>
        <div class="col col-sm-7 summary">
          <% @cart_items.each do |item|%>
            <%=link_to item do%>
              <h4> <%= item.brand %> <%= item.release_year %></h4>
            <%end%>
            <p><%= item.colorway %> <%= item.description %></p>
            <p><%= item.size %></p>
            <p class="price">$ <%= item.price %></p>
          <% end %>
        </div>
        <div class="col col-sm-5 pay_info">
          <%= form_tag transactions_path do%>
            <p>Please enter your billing information:</p>
            <div id="dropin"></div>
            <%= render 'customer_form' unless current_user.has_payment_info? %>
            <%=submit_tag "Submit Payment", class: "btn" %>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col col-xs-1 col-sm-2">
    </div>
  </div>
</div>
