
<footer class="row">
  <div class="container instagram">
    <h4>Latest Grams</h4>
    <div class="row">
      <div class="col col-xs-12">
        <div class="row">
          <% @popular[0..2].each do |popular| %>
            <div class="col col-xs-4">
              <a href="#" class="" ><%= image_tag popular.images.standard_resolution.url %></a>
              <!-- <span><%= h truncate(popular.caption.text, :length => 60, :separator => ' ') %></span> -->
            </div>
          <% end %>
        </div>
        <div class="row">
          <% @popular[3..5].each do |popular| %>
            <div class="col col-xs-4">
              <a href="#" class="" ><%= image_tag popular.images.standard_resolution.url %></a>
              <!-- <span><%= h truncate(popular.caption.text, :length => 60, :separator => ' ') %></span> -->
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <!-- <div class="container insta-mobile">
    <div class="row">
      <div class="col col-xs-12">
        <% @popular[0..2].each do |popular| %>
          <div class="col col-xs-4" >
            <a href="#" class=""><%= image_tag popular.images.standard_resolution.url %></a>
          </div>
        <% end %>
    </div>
  </div>
</div> -->

  <div class="social container">
    <div class="row text-center">
      <div class="col col-xs-12 col-sm-4">
        <div class="content">
          <h5 class=""><a href="/terms">Terms & Conditions</a></h5>
          <h5 class=""><a href="/blogs">The Odd Official Blog</a></h5>
          <h5 class=""><a href="mailto:contact@theoddofficial.com?Subject=Hello">contact us</a></h5>
        </div>
        </div>
        <div class="col col-xs-12 col-sm-4">
          <div class="icons">
            <span class="align-middle"><a href="https://www.facebook.com/jeffl1nen"><i class="fa fa-facebook-official"></i></a></span>
            <span class="align-middle"><a href="https://twitter.com/OpenHouseOG"><i class="fa fa-twitter-square"></i></a></span>
            <span class="align-middle"><a href="https://instagram.com/l1nerd"><i class="fa fa-instagram"></i></a></span><br /><br />
            <h5 class="">Who is the Odd Official?</h5>
            <p>
              The Odd Official is one dude-- and maybe a couple of friends, who want to sell their cool, legit, 100% authentic clothes, accessories, and toys. There's a blog you can check out if you want to gain some insight-- so check that out, if you want.
            </p>
          </div>
        </div>

      <div class="col col-xs-12 col-sm-4">
        <div class="content">
          <h5>Stay posted with the newsletter</h5>
          <%= render "newsletters/form", :object => @newsletter %>
        </div>
      </div>
    </div>
    <p class="powered">Powered by When & How Creative © 2018</p>
  </div>
</footer>
