<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <%if signed_in? == false%>
      <div class="nav-alert">
        <p class="sign-alert">
          Please sign up or sign in to purchase!
        </p>
      </div>
    <%end%>
    <div class="navbar-header">
      <button type="button" class="pull-right navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <%if signed_in?%>
        <%= link_to cart_path, :class => "pull-right navbar-brand" do%>
          <i class="fa fa-shopping-basket"></i><span class="cart-count"><%=current_user.cart_count%></span>
        <%end%>
      <%end%>
      <a class="navbar-brand" href="/"><img class="logo" src="<%= asset_path( 'Gumstore_logo.png' ) %>" /></a></a>

    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <%if signed_in?%>
          <li class="dropdown">
            <%=link_to edit_user_registration_path, :class=> "dropdown-toggle", 'data-toggle' => 'dropdown' do%>yo, <%=current_user.first_name %> <span class="caret"></span>
            <%end%>
            <ul class="dropdown-menu">
              <% if current_user.email == 'heyjulieh@gmail.com' || current_user.email == 'jeffl1nen@gmail.com' %>
                <li>
                  <%=link_to new_item_path, 'data-ajax' => "false" do%>
                  Add New Item
                  <%end%>
                </li>
                <li>
                  <%=link_to new_blog_path, 'data-ajax' => "false" do%>
                  Post New Blog
                  <%end%>
                </li>
              <%end%>
              <li>
                <%=link_to edit_user_registration_path, 'data-ajax' => "false" do%>
                  Your Settings
                <%end%>
              </li>
              <li><%=link_to "sign out", destroy_user_session_path, method: :delete, 'data-ajax' => "false" %></li>
            </ul>
          </li>
        <%else%>
          <li>
            <%=link_to "sign up", new_user_registration_path, :class => "sign"%>
          </li>
          <li>
            <%=link_to "sign in", new_user_session_path, :class => "sign"%>
          </li>
        <%end%>
        </ul>


      <ul class="nav navbar-nav nav-center">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Clothes
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/categories/bottoms">Bottoms</a></li>
            <li><a href="/categories/tops">Tops</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="/categories/shoes">Shoes
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/brands/adidas">Adidas</a></li>
            <li><a href="/brands/nike">Nike</a></li>
          </ul>
        </li>
        <li><a href="/categories/accessories">Accessories</a></li>
        <li><a href="/categories/toys">Toys</a></li>
        <li><a href="/blogs">Blog</a></li>
      </ul>
    </div>
  </div>
</nav>
